<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FootBall Team </title>
</head>

<body>
    <header>

    </header>
    <main>
        <section class="container">
           <nav class="menu">
               <div class="flex">
                <ul>
                    <li> <a href="">Home</a></li>
                  <li><a href="">Clubs</a></li>
                  <li><a href="">World Cup 2023</a></li>
                  <li><a href="">Upcoming Matches</a></li>
                  <li><a href="">Contact</a></li>
                 </ul>
               </div>
               <div class="between">
                <a href="">Login</a>
            </div>
              </nav>
             <div class="banner">
                <div class="banner-title">
                    <div class="title">
                        Conmebol
                        Copa America
                        2021
                      </div>
                      <div class="between">
                          <a href="">Watch Live</a>
                      </div>
                 </div>
                  <div class="image">
                      <img src="../../assets/img/banner.png" alt="">
                  </div>
             </div>
        </section>
        <section class="player-list">
            <div class="players">
                <div class="player">
                    <img src="../../assets/img/player-1.png" alt="">
                    <h2 class="player-name">Neymar Jr</h2>
                    <p class="player-info">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lacus, fermentum amet faucibus sed id nisi lectus at.
                    </p>
                </div>
                <div class="player">
                    <img src="../../assets/img/player-2.png" alt="">
                    <h2 class="player-name">Neymar Jr</h2>
                    <p class="player-info">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lacus, fermentum amet faucibus sed id nisi lectus at.
                    </p>
                </div>
                <div class="player">
                    <img src="../../assets/img/player-3.png" alt="">
                    <h2 class="player-name">Neymar Jr</h2>
                    <p class="player-info">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lacus, fermentum amet faucibus sed id nisi lectus at.
                    </p>
                </div>
                <div class="player">
                    <img src="../../assets/img/player-4.png" alt="">
                    <h2 class="player-name">Neymar Jr</h2>
                    <p class="player-info">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lacus, fermentum amet faucibus sed id nisi lectus at.
                    </p>
                </div>
                <div class="player">
                    <img src="../../assets/img/player-5.png" alt="">
                    <h2 class="player-name">Neymar Jr</h2>
                    <p class="player-info">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lacus, fermentum amet faucibus sed id nisi lectus at.
                    </p>
                </div>
                <div class="player">
                    <img src="../../assets/img/player-6.png" alt="">
                    <h2 class="player-name">Neymar Jr</h2>
                    <p class="player-info">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lacus, fermentum amet faucibus sed id nisi lectus at.
                    </p>
                </div>
                <div class="player">
                    <img src="../../assets/img/player-7.png" alt="">
                    <h2 class="player-name">Neymar Jr</h2>
                    <p class="player-info">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lacus, fermentum amet faucibus sed id nisi lectus at.
                    </p>
                </div>
                <div class="player">
                    <img src="../../assets/img/player-8.png" alt="">
                    <h2 class="player-name">Neymar Jr</h2>
                    <p class="player-info">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lacus, fermentum amet faucibus sed id nisi lectus at.
                    </p>
                </div>
                <div class="player">
                    <img src="../../assets/img/player-9.png" alt="">
                    <h2 class="player-name">Neymar Jr</h2>
                    <p class="player-info">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lacus, fermentum amet faucibus sed id nisi lectus at.
                    </p>
                </div>
                <div class="player">
                    <img src="../../assets/img/player-10.png" alt="">
                    <h2 class="player-name">Neymar Jr</h2>
                    <p class="player-info">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lacus, fermentum amet faucibus sed id nisi lectus at.
                    </p>
                </div>
                <div class="player">
                    <img src="../../assets/img/player-11.png" alt="">
                    <h2 class="player-name">Neymar Jr</h2>
                    <p class="player-info">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lacus, fermentum amet faucibus sed id nisi lectus at.
                    </p>
                </div>
                <div class="player">
                    <img src="../../assets/img/player-12.png" alt="">
                    <h2 class="player-name">Neymar Jr</h2>
                    <p class="player-info">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lacus, fermentum amet faucibus sed id nisi lectus at.
                    </p>
                </div>
            </div>
        </section>
      <section class="last-part">
        <div class="last-banner">
            <div class="banner-info">
                <h1>All Highlights
                Copa America 2021</h1>
                <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
           </div>
             <div class="between">
                <a href="">Watch Now</a>
             </div>
        </div>
        <div class="image1">
            <img src="../../assets/img/match.png" alt="">
        </div>
      </section>
      <div class="logo">
        <img src="../../assets/img/Logo.png" alt="">
     </div>
      <footer >
             <p>copyright @ 2022 Football</p>
       </footer>
    </main>
</body>

</html>
